<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edição - Indústrias Wayne</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="{{ url_for('static', filename='js.js') }}" defer></script>
</head>
<body>
  <div class="container">
    <div class="cabecalho">
      <a href="/inicio">Voltar</a>
      <img src="{{ url_for('static', filename='wayne-logo.png') }}" alt="Wayne Industries" class="logo">
      <a href="/logout">Logout</a>
    </div>
  </div>
    <h1>Edição e Exclusão</h1>
    <h3>Usuário: <b>{{session.user.upper()}}</b></h3>

    <!-- Tabela de Funcionários -->
    <h2>Funcionários</h2>
    <table id="funcionarios-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>CPF</th>
          <th>Nível de Acesso</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <!-- Os dados dos funcionários serão carregados aqui via JavaScript -->
      </tbody>
    </table>

    <!-- Tabela de Itens -->
    <h2>Itens</h2>
    <table id="itens-table">
      <thead>
        <tr>
          <th>Nome do Item</th>
          <th>Número de Série</th>
          <th>ID da Sala</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <!-- Os dados dos itens serão carregados aqui via JavaScript -->
      </tbody>
    </table>

    <!-- Tabela de Salas -->
    <h2>Salas</h2>
    <table id="salas-table">
      <thead>
        <tr>
          <th>Nome da Sala</th>
          <th>Nível de Acesso</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <!-- Os dados das salas serão carregados aqui via JavaScript -->
      </tbody>
    </table>
  </div>
</body>
</html>